.panel-result .box {
	background: rgb(255,255,255,0.3);
	padding:5px;
}
.panel-result .box .card .card-header{
	background: rgba(242,242,242,1.00) !important;
	color:#3e3e3e;
}
body {
	background: rgb(0,112,0);
	background: linear-gradient(90deg, rgba(0,112,0,1) 0%, rgba(56,132,6,1) 50%, rgba(0,112,0,1) 100%);
}
.text-default {
	color:#fff;
}
.card {
	background: rgb(0,112,0);
	background: linear-gradient(90deg, rgba(0,112,0,1) 0%, rgba(56,132,6,1) 50%, rgba(0,112,0,1) 100%);
}
.card-body {
	background: #fff;
	flex: 0 0 auto !important;
    padding: 0rem 0rem !important;
}
.default-bg { 
	background: rgb(0,112,0);
	/*background: linear-gradient(90deg, rgba(0,112,0,1) 0%, rgba(246,255,55,1) 50%, rgba(0,77,0,1) 100%);*/
	background: linear-gradient(90deg, rgba(0,112,0,1) 0%, rgba(56,132,6,1) 50%, rgba(0,112,0,1) 100%);
}
.footer-top{
	background: rgb(0,112,0);
	/*background: linear-gradient(90deg, rgba(0,112,0,1) 0%, rgba(246,255,55,1) 50%, rgba(0,77,0,1) 100%);*/
	background: linear-gradient(90deg, rgba(0,112,0,1) 0%, rgba(56,132,6,1) 50%, rgba(0,112,0,1) 100%);
}
.slider-area {
	background: rgb(0,112,0);
	/*background: linear-gradient(90deg, rgba(0,112,0,1) 0%, rgba(246,255,55,1) 50%, rgba(0,77,0,1) 100%);*/
	background: linear-gradient(90deg, rgba(0,112,0,1) 0%, rgba(56,132,6,1) 50%, rgba(0,112,0,1) 100%);
}
nav.navbar{
    background: rgb(0,112,0);
    background: linear-gradient(90deg, rgba(0,112,0,1) 0%, rgba(56,132,6,1) 50%, rgba(0,112,0,1) 100%);
      /*background: linear-gradient(90deg, rgba(0,112,0,1) 0%, rgba(246,255,55,1) 50%, rgba(0,77,0,1) 100%);*/
  }
.breadcamb-area.bg-17.bg-overlay-1{
	background: rgb(0,112,0) !important;
	background: linear-gradient(90deg, rgba(0,112,0,1) 0%, rgba(56,132,6,1) 50%, rgba(0,112,0,1) 100%) !important;
}
#date-result,.card-header {
	background: rgb(0,112,0) !important;
	background: linear-gradient(90deg, rgba(0,112,0,1) 0%, rgba(56,132,6,1) 50%, rgba(0,112,0,1) 100%) !important;
	color:#fff;

}
.sub-card.card > .card-header {
	background: rgb(0,112,0);
	opacity: 0.6;
	/*background:#3e3e3e !important;*/
}
.lotto .card-body-red {
    background: red;
}
.bg-overlay-1::before {
    background: transparent;
    content: "";
    height: 100%;
    left: 0;
    opacity: 0.6;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;
}
